<!DOCTYPE HTML>


<html ng-app="todoApp">

<head>

    <title>Codebrew-17</title>

    <link rel="stylesheet" type="text/css" href="Semantic/dist/semantic.min.css">

    <link rel="stylesheet" href="style.css">

    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>



</head>

<body ng-controller="TodoListController as todoList">

    <header>

    </header>

    <main>
      <div class="message" ng-repeat="todo in todoList.todos track by $index" ng-class="todo.user.nickname == 'Me' ? 'me' : 'you'">
        <div class="user" ng-if="todo.user.nickname != todoList.todos[$index-1].user.nickname">
          <img class="avatar" src="{{todo.user.avatar}}" width="100" alt="">
          <span class="name"> {{ todo.user.nickname }}</span>
        </div>
        <div class="text">
          {{todo.text}}
        </div>
      </div>
    </main>

    <footer>
      <form ng-submit="todoList.addTodo()" class="">
          <input ng-model="todoList.todoText" type="text" placeholder="Enter a message">
          <button class="ui icon button" type="submit" id="send-message-button"><i class="send icon"></i></button>
      </form>
    </footer>




</body>

<script src="todo.js"></script>




</html>
