<!DOCTYPE HTML>


<html>
<head>

  <title>
      Login
  </title>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Semantic/dist/semantic.min.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Semantic/dist/components/reset.css') }}">

  <style type="text/css">
      body {
        background-image: url("{{ url_for('static',filename='assets/login-page-bg.jpeg') }}");
        background-size: cover;
        backgroud-origin: 50% 50%;
      }
      body > .grid {
        height: 100%;
      }
      .image {
        margin-top: 100px;
        
      }
      .column {
        max-width: 450px;
      }

      #grid{

        padding-top: 15rem;


      }

      #login-header{

      	color: #F79354;

      }
  </style>

  <script>
  
  </script>
</head>


<body>

<div class="ui middle aligned center aligned grid" id="grid">
  <div class="column">
    <h2 class="ui black image header">
      <p id="login-header">
        Log-in to your account
      </p>
    </h2>

    <form method="post" action="post-login" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input type="submit" name="submit" class="ui fluid large submit button"></input>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New to us? <a href="/sign-up">Sign Up</a>
    </div>
  </div>
</div>

</body>



</html>